CI_ENVIRONMENT = development

app.baseURL = 'http:/clothing_sablon/public/'

database.default.hostname = localhost
database.default.database = cetm6174_sablon
database.default.username = cetm6174_cetaksablon
database.default.password = P(VD7eay)p58zemB
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

session.driver = 'CodeIgniter\Session\Handlers\FileHandler'
# session.savePath dikosongkan — CI4 otomatis pakai writable/session/
logger.threshold = 4